<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adrenalinstudio.putokazio">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Putokazio">
        <activity android:name=".Internet3"></activity>
        <activity android:name=".Backend" />
        <activity android:name=".HTML" />
        <activity android:name=".CSS" />
        <activity android:name=".CSharp" />
        <activity android:name=".sql" />
        <activity android:name=".php" />
        <activity android:name=".Informacije" />
        <activity android:name=".Vakcine" />
        <activity android:name=".KakoSeZastititi" />
        <activity android:name=".KakoSeZastiti" />
        <activity android:name=".OKoronaVirusu" />
        <activity android:name=".Covid19" />
        <activity android:name=".Hosting" />
        <activity android:name=".Domen" />
        <activity android:name=".dns" />
        <activity android:name=".Browser" />
        <activity android:name=".HTTP" />
        <activity
            android:name=".KonfiguracijskiMeni"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UredjajizaSkladistenje"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrilagodjavanjeKernela"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NajnovijiKernel"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ColorChooser"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GIMP"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrikazivaciSlika"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PDFViewer"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LinuxovKernel"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GrafickiProgrami"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViEditor"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpravljanjeFajlovima"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KreiranjeFajlova"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NavigacioneKomande"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InterfejsKomandneLinije"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LinuxDanas"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IstorijaLinuxa"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TvoracLinuxa"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LinuxServeri"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Olinuxu"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ukratko5"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ukratko4"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AplikacijeZaObjavljivanje"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KonfiguracijaAplikacije"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PripremaAplikacije"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DistribuiranjeAplikacije"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ukratko3"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FunkcijaIntent"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KakoUbacitiSadrzaj"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NapraviAVD"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NapraviProjekat"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NapraviAplikaciju"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ukratko2"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Gradle"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Kotlin"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Java"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CfgAnd"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Podesavanja"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Androidstd"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ukratko"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OperativniSistemAnd"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IstorijaAnd"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".istorija1"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".istorijaandroida3"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".istorijaAndroida"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".androidale"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IstorijaAndroida"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UvodUAndroid"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Android"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SveMape2"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KakoRadiInternet"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Internet2"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FrontendDevelop"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".frontenddeveloping"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NovaMapa"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sacuvane_mape"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SveMape"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivitz"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity android:name=".JavaScriptSintaksa" />
        <activity android:name=".JavaScript" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.Putokazio.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.Putokazio.NoActionBar" />
        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.Putokazio.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>