<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adrenalinstudio.putokazio">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Putokazio">
        <activity android:name=".GIMP"></activity>
        <activity android:name=".PrikazivaciSlika" />
        <activity android:name=".PDFViewer" />
        <activity android:name=".LinuxovKernel" />
        <activity android:name=".GrafickiProgrami" />
        <activity android:name=".ViEditor" />
        <activity android:name=".UpravljanjeFajlovima" />
        <activity android:name=".KreiranjeFajlova" />
        <activity android:name=".NavigacioneKomande" />
        <activity android:name=".InterfejsKomandneLinije" />
        <activity android:name=".LinuxDanas" />
        <activity android:name=".IstorijaLinuxa" />
        <activity android:name=".TvoracLinuxa" />
        <activity android:name=".LinuxServeri" />
        <activity android:name=".Olinuxu" />
        <activity android:name=".Ukratko5" />
        <activity android:name=".Ukratko4" />
        <activity android:name=".AplikacijeZaObjavljivanje" />
        <activity android:name=".KonfiguracijaAplikacije" />
        <activity android:name=".PripremaAplikacije" />
        <activity android:name=".DistribuiranjeAplikacije" />
        <activity android:name=".Ukratko3" />
        <activity android:name=".FunkcijaIntent" />
        <activity android:name=".KakoUbacitiSadrzaj" />
        <activity android:name=".NapraviAVD" />
        <activity android:name=".NapraviProjekat" />
        <activity android:name=".NapraviAplikaciju" />
        <activity android:name=".Ukratko2" />
        <activity android:name=".Gradle" />
        <activity android:name=".Kotlin" />
        <activity android:name=".Java" />
        <activity android:name=".CfgAnd" />
        <activity android:name=".Podesavanja" />
        <activity android:name=".Androidstd" />
        <activity android:name=".Ukratko" />
        <activity android:name=".OperativniSistemAnd" />
        <activity android:name=".IstorijaAnd" />
        <activity android:name=".istorija1" />
        <activity android:name=".istorijaandroida3" />
        <activity android:name=".istorijaAndroida" />
        <activity android:name=".androidale" />
        <activity android:name=".IstorijaAndroida" />
        <activity android:name=".UvodUAndroid" />
        <activity android:name=".Android" />
        <activity android:name=".SveMape2" />
        <activity android:name=".KakoRadiInternet" />
        <activity android:name=".Internet2" />
        <activity android:name=".FrontendDevelop" />
        <activity android:name=".frontenddeveloping" />
        <activity android:name=".NovaMapa" />
        <activity android:name=".Sacuvane_mape" />
        <activity android:name=".SveMape" />
        <activity android:name=".HomeActivitz" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.Putokazio.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.Putokazio.NoActionBar" />
        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.Putokazio.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>